<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSRF Attack - Signup</title>
</head>
<body>
    <h1>CSRF Attack - Signup - Avail Exciting Offers</h1>
    <form id="signupForm" action="http://localhost:5000/signup" method="post" onsubmit="return showMessage()">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        <input type="submit" value="Sign Up">
    </form>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="message" style="color: red; font-weight: bold;"></p>
        </div>
    </div>
    <script>
      function showMessage() {
    var csrfToken = document.querySelector('input[name="csrf_token"]').value;
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm_password").value;

    if (!csrfToken) {
        var modal = document.getElementById("myModal");
        var message = document.getElementById("message");
        message.innerText = "CSRF protection failed. CSRF token is missing!!!.";
        modal.style.display = "block";
        return false; // Prevent form submission
    } else if (username !== "" && password !== "" && confirm_password !== "") {
        var modal = document.getElementById("myModal");
        var message = document.getElementById("message");
        message.innerText = "This site is forged.";
        modal.style.display = "block";
        return false; // Prevent form submission
    }
}

        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            return false;
        }
    </script>
</body>
</html>
